<h1>Cocktail Search</h1>

<form action = "/search" method="post">
	<div>
		<input type="text" placeholder="What are you looking for?" name="search">
	</div>

	<div>
		<input type="submit" value="Search">
	</div>
</form>